body{
    margin: 0px;
    font: roboto;
    font-family: "Roboto", sans-serif;
}


.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 0px 250px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type:none;
    font-size: 18px;
}

.links{
    display: flex;
    gap: 12px;
}

.hero-container{
    display: flex;
    padding: 60px;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #3882F6 ;
    color: #e5e7eb;
    border-radius: 15%;
    width: 60px;
    padding: 5px;
}

.info-container{
    padding: 20px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items img{
    width: 100px;
}

.items .text{
    max-width: 100px;
    text-align:center;
}