body{
    margin: 0px;
    font: roboto;
    font-family: "Roboto", sans-serif;
}


.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 0px 250px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type:none;
    font-size: 18px;
}

.links{
    display: flex;
    gap: 12px;
}

.hero-container{
    height: 400px;
    gap: 100px;
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.hero-container .text{
    display: flex;
    flex-direction: column;
    width: 526px;
    height: 360px;
    justify-content: center;
    gap: 10px;
}


.hero-main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #3882F6 ;
    color: #e5e7eb;
    border-radius:8px;
    width: 60px;
    padding: 5px;
}

.info-title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 35px;
    padding-bottom: 100px;
}
.info-container{
    height: 500px;
    text-align: center;
    justify-content: center;
}
.info-container .body{
    display: flex;
    flex-direction: row;
}

.body img{
    width: 100px;
}

.body{
    display: flex;
    justify-content: center;
    gap: 52px;
    align-items: center;
}

.body .text{
    text-align: center;
    max-width: 200px;
}

.quote-container{
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    display: flex;
    align-items: center;
}

.quote-text{
    width: 726px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
}

.quote-text div{
    text-align: end;
    font-weight: bold;
}

.last-section{
    display: flex;
    height: 500px;
    align-items: center;
    background-color:white;
    justify-content: center;
}


.white{
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 0px 250px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
    margin:  150px;
    border-radius: 8px;
}

.signup{
    display: flex;
    padding: 5px 25px;
    border-style:solid;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: white;
    padding: 25px;
}




